*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100vh;
    width: 100vw;
    /* background-color: #236; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main img{
    height: 560px;
    width: 330px;
    position: relative;
    z-index: 99;
    /* object-fit: cover; */
}

.text{
    width: 520px;
    text-align: center;
    position: absolute;
    top: 14%;
    z-index: 101;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
}


.scroll_div{
    position: absolute;
    top: 18%;
    width: 100%;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;   
}

.scroll_div::-webkit-scrollbar{
    display: none;
}

.scroll_div h1{
    font-size: 140px;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 20px;
    letter-spacing: 3px;
    animation-name: scroll;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.scroll_div2{
    position: absolute;
    top: 38%;
    width: 100%;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;   
}

.scroll_div2::-webkit-scrollbar{
    display: none;
}

.scroll_div2 h1{
    font-size: 140px;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 20px;
    letter-spacing: 3px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000000c4;
    color: transparent;
    position: relative;
    z-index: 100;
    animation-name: scroll;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.scroll_div3{
    position: absolute;
    top: 58%;
    width: 100%;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;   
}

.scroll_div3::-webkit-scrollbar{
    display: none;
}

.scroll_div3 h1{
    font-size: 140px;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 20px;
    letter-spacing: 3px;
    animation-name: scroll;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0%{
        transform: translateX(calc(-100% - 22px));
    }
    100%{
        transform: translateX(0);
    }
}